.home {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    1deg,
    rgba(42, 35, 56, 1) 0%,
    rgba(42, 35, 56, 0.85) 32%,
    rgba(42, 35, 56, 1) 100%
  ); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2A2338', endColorstr='#2A2338',GradientType=0 ); /* ie6-9 */
}
